/target
/.vscode

/test/*
!/test/test_data.csv
!/test/test_data_auto_model.txt
!/test/test_data_with_model.png
!/test/test_data_model.md
!/test/old_data.txt
!/test/old_data_auto_model.txt
!/test/old_data_with_model.png
!/test/old_data_model.md
